---
---

@import "minima";

a,
a:visited {
  color: #7f00ff;
}

.site-header {
  border-top: 5px solid #7f00ff;
}

.page-heading {
  display: none;
}

.post-list-heading {
  display: none;
}

.rss-subscribe {
  display: none;
}

.site-footer {
  padding-bottom: 0px;
}

.footer-heading {
  display: none;
}

@media screen and (max-width: 600px) {
  .footer-col {
    float: left;
  }
}

.footer-col-1 {
  box-sizing: border-box;
  width: 50%;
}

.footer-col-2 {
  box-sizing: border-box;
  width: 50%;
  text-align: right;
}

.footer-col-3 {
  display: none;
}
